<aside class="menu-sidebar d-none d-lg-block">
    <div class="logo">
        <a href="#">
            <img src="~/Content/images/icon/logo.png" alt="Công Ty TNHH Tập Đoàn Xây Dựng DELTA" />
        </a>
    </div>
    <div class="menu-sidebar__content js-scrollbar1">
        <nav class="navbar-sidebar">
            <ul class="list-unstyled navbar__list">
                <li class="active">
                    <a class="js-arrow" href="@Url.Action("Index","Home")">
                        <i class="fas fa-tachometer-alt"></i>Thống kê
                    </a>
                </li>
                <li>
                    <a class="js-arrow" href="@Url.Action("Index","Department")">
                        <i class="fas fa-university"></i>Phòng ban
                    </a>
                </li>
                <li>
                    <a class="js-arrow" href="@Url.Action("Index","Employees")">
                        <i class="fas fa-users"></i>Nhân viên
                    </a>
                </li>
                <li>
                    <a class="js-arrow" href="@Url.Action("Index","Project")">
                        <i class="fas fa-suitcase"></i>Dự án
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</aside>
